<div class="grid-container">

  <h1 class="mat-h1">Formulario OC</h1>


  <mat-grid-list cols="2" >

  

    <mat-grid-tile  [colspan]="1" [rowspan]="5">


      <mat-card class="dashboard-card">



        
        <mat-card-header>
          <mat-card-title>
              Orden de compra {{code}}
          </mat-card-title>
        </mat-card-header>



        <mat-card-content class="dashboard-card-content">

            <mat-spinner *ngIf="loading"></mat-spinner>

            <div *ngIf="!loading && !ocError">

                <mat-accordion *ngFor="let key of ordenCompraKeys">


                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{key}}
                        </mat-panel-title>
                        <mat-panel-description>
                          ...
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                          {{ordenCompra[key] | json}}
                    </mat-expansion-panel>
                  </mat-accordion>

            </div>

            <div *ngIf="ocError">
                <p style="color:red">{{ocError}}</p>
            </div>
   

        </mat-card-content>
      </mat-card>

      

    </mat-grid-tile>

    <mat-grid-tile  [colspan]="1" [rowspan]="1" rowHeight="100px">


        <mat-card class="dashboard-card" style="height: 150px;">

            <mat-card-header>
              <mat-card-title>
                  Opciones
              </mat-card-title>
            </mat-card-header>
    
    
    
            <mat-card-content class="button-row"  >

                <button (click)="accept()" mat-raised-button color="primary" style="width: 100%" disabled>Aceptar</button> 
                <br>
                <button (click)="back()" mat-raised-button color="accent" style="width: 100%;margin-top: 20px;"> Regresar</button> 
    
            </mat-card-content>
        </mat-card>

        
    </mat-grid-tile>  


  </mat-grid-list>

  
</div>
