<div class="grid-container">

  <h1 class="mat-h1">Formulario OC</h1>

  <mat-grid-list cols="1" >

    <mat-grid-tile  [colspan]="1" [rowspan]="5">


      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
              Orden de compra {{code}}
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="dashboard-card-content">

            <mat-spinner *ngIf="loading"></mat-spinner>

            <div *ngIf="!loading">

                <mat-grid-list cols="4" rowHeight="100px">
                  
                    <mat-grid-tile
                        [colspan]="1"
                        >
                            <b>Campo</b>
                    </mat-grid-tile>
                    <mat-grid-tile
                        [colspan]="3"
                        >
                            <b>Valor</b>
                    </mat-grid-tile>


                    <div *ngFor="let key of ordenCompraKeys">
                        <mat-grid-tile
                        [colspan]="1"
                        >
                            {{key}}
                        </mat-grid-tile>
                        <mat-grid-tile
                        [colspan]="3"
                        >
                          {{ordenCompra[key] | json}}
                        </mat-grid-tile>

                          
                    </div>


                  </mat-grid-list>


            </div>

        </mat-card-content>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>

  
</div>
